<header class="cabecalho">
  <div class="retangulo"></div>
  <h1 class="cabecalho-texto">Cadastro DEV</h1>
  <input type="search" class="pesquisa-cabecalho" placeholder="Busque aqui..">
</header>

<body>
  <form class="formulario">
      <label for="GitHub" class="form-control git-texto">Cadastrar com GitHub</label>

      <label for="Usuário" class="form-usuario">Usúario GITHUB</label>
      <input type="button" name="campo" class="usuario-campo">

      <label for="line" class="line"></label>

      <label for="avatar" class="avatar-texto">Avatar (URL)</label>
      <input type="text" id="avatar" class="avatar-campo" required autofocus>

      <label for="nome" class="nome-texto">Nome</label>
      <input type="text" id="nome" class="nome-campo">

      <label for="email" class="email-texto">Email</label>
      <input type="email" id="email" class="email-campo">

      <label for="cidade" class="cidade-texto">Cidade</label>
      <input type="text" id="cidade" class="cidade-campo">

      <label for="line" class="line-9"></label>

      <label for="profissional" class="profissional">PROFISSIONAL</label>
      <label for="formacao" class="formacao-texto">Formacao</label>
      <input type="text" id="formacao" class="formacao-campo">

      <label for="tecnologias" class="tecnologias-texto">Tecnologias</label>
      <input type="text" id="tecnologias" class="tecnologias-campo" placeholder="ex: HTML/CSS, Vue, Angular etc.">

      <input type="submit" id="cadastrar" class="cadastrar-texto" value="Cadastrar">
  </form>

      <div class="card-cadastrar img">
        <ap-photo *ngFor="let photo of photos"
                  [url]="photo.url">
        </ap-photo>
        <div class="card-cadastrar-nome">Bolsonaro Presidente</div>
        <div class="cadastrar-cidade">Maringa - PR</div>
        <div class="cadastrar-tecnologias">Angular, Jquery, Vue</div>
        <div class="cadastrar-acessogit">Acessar GItHub</div>
        <button class="editar">Editar</button>
        <button class="excluir">Excluir</button>
</div>
</body>
