<header class="cabecalho">
  <div class="retangulo"></div>
  <h1 class="cabecalho-texto">Cadastro DEV</h1>
  <input type="search" class="pesquisa-cabecalho" placeholder="Busque aqui..">
</header>

<body>
        <app-formulario></app-formulario>
        <div *ngIf="templateForm" >
        <ol class="card-cadastrar" >
        <li *ngFor="let photo of card" style="width: 0;height: 0;">
        <ap-photo
                  [url]="photo.url">
        </ap-photo>
        <li class="nomeCard" *ngFor="let nome of card" > {{ nome.name }}</li>
        <li class="cadastrar-cidade" *ngFor="let nome of card"> {{ nome.cidade }} </li>
        <li class="cadastrar-formacao" *ngFor="let nome of card"> {{ nome.formacao }} </li>
        <li class="cadastrar-tecnologias" *ngFor="let nome of card"> {{ nome.tecnologias }} </li>
        <li class="cadastrar-acessogit">Acesso Github</li>
        <button class="editar" (click)="editar()">Editar</button>
        <button class="excluir" (click)="excluir()">Excluir</button>
      </ol>
    </div>
</body>
