<form class="formulario" [formGroup]="formulario">
  <label for="GitHub" class="form-control git-texto">Cadastrar com GitHub</label>

  <label for="Usuário" class="form-usuario">Usúario GITHUB</label>
  <input type="button" name="campo" class="usuario-campo">

  <label for="line" class="line"></label>

  <label for="Arquivo" class="avatar-texto">Avatar(IMG/PNG)</label>
  <img src="./assets/imagem-arquivo.png" alt="" id="imagem-arquivo">
  <input type="file" id="imagem-arquivo" class="imagem-arquivo" accept="image/*" name="Arquivo">

  <label for="nome" class="nome-texto">Nome</label>
  <input type="text" id="nome" class="nome-campo" formControlName="nome" name="nome">

  <label for="email" class="email-texto">Email</label>
  <input type="email" id="email" class="email-campo" formControlName="email" name="email">

  <label for="cidade" class="cidade-texto">Cidade</label>
  <input type="text" id="cidade" class="cidade-campo" formControlName="cidade" name="cidade">

  <label for="line" class="line-9"></label>

  <label for="profissional" class="profissional">PROFISSIONAL</label>
  <label for="formacao" class="formacao-texto">Formacao</label>
  <input type="text" id="formacao" class="formacao-campo" formControlName="formacao" name="formacao">

  <label for="tecnologias" class="tecnologias-texto">Tecnologias</label>
  <input type="text" id="tecnologias" class="tecnologias-campo" placeholder="ex: HTML/CSS, Vue, Angular etc." formControlName="tecnologias" name="tecnologias">

  <input type="submit" id="cadastrar" class="cadastrar-texto" value="Cadastrar" (click)="cadastrar()" >
</form>
